<div class="algemene-informatie">
    <div class="english-below">*** English below ***</div>
    <div>
        <p>SKC Leiden organiseert een beach competitie. Dit gaat anders verlopen dan voorgaande jaren.</p>
        <p>
            Er zijn verschillende competities; de vrouwencompetitie, de mannencompetitie & de mixcompetitie. We creëren
            per competitie verschillende poules; poule A, B, C, etc. Bij aanvang van de competitie wordt je ingedeeld in
            een poule op basis van je volleybal niveau in de zaal + beachvolleybal ervaring.
        </p>
        <p>
            Dit is je startpunt van de beach competitie.
        </p>
        <p>
            Op vrijdagavond en zaterdag worden de wedstrijden ingedeeld. Hier speel je tegen al je tegenstanders van
            dezelfde poule. Win jij alle wedstrijden? Dan promoveer je naar een hogere poule. De volgende week wordt je
            dan ook ingedeeld in die hogere poule. Verlies jij de meeste wedstrijden? Dan degradeer je naar een lagere
            poule. Zo speelt iedereen op zijn of haar niveau en is er ruimte om te groeien, zodat jullie allemaal de
            beste volleybal skills kunnen laten zien! :)</p>
        <p>
            Omdat je op een avond / gedurende een dagdeel tegen je gehele poule speelt, dus meerdere teams, is het de
            bedoeling dat je tegen elk team 1 set speelt tot de 21 punten. Hierbij worden de beachvolleybal regels
            gehanteerd met wisselen van speelkant om de 7 punten etc.
        </p>
        <p>
            De spelers zijn zelf verantwoordelijk voor het doorgeven van de einduitslagen van de gespeelde wedstrijden.
            Dit moet voor zondagavond 23:59 gedaan zijn.
        </p>
        <p>
            De nieuwe poules + wedstrijdindelingen worden op maandag  gepubliceerd voor de aankomende week.
        </p>
        <p>
            Ben je een keer verhinderd om te komen? Mail naar skc.beach@gmail.com of stuur een appje naar een van de
            BeachCie leden. Het is mogelijk om de gemiste wedstrijden op een ander moment in te plannen. Het programma
            wordt maandag gepubliceerd dus als je weet dat je op de ingeplande datum niet kan dan kan je die week zelf
            de wedstrijd(en) inplannen. De uitslagen van de wedstrijden moeten alsnog diezelfde week voor zondag 23:59
            verstuurd zijn naar de Beachcie. Let op! Je bent zelf verantwoordelijk om de 'inhaalwedstrijd' in te
            plannen, het veld te reserveren en de tegenstander te regelen. Indien dit niet mogelijk is worden je
            wedstrijden helaas als verloren beschouwt. Gelukkig kan je de volgende week jezelf bewijzen door de
            wedstrijden te winnen.
        </p>
        <p>
            Ben je verhinderd doordat je eventuele corona klachten hebt? We willen mensen absoluut niet aansporen om te
            komen bij klachten. Mail naar skc.beach@gmail.com of stuur een appje naar een van de BeachCie leden en wij
            zorgen ervoor dat je de volgende keer in dezelfde poule geplaatst wordt.
        </p>

        <h3>Corona</h3>

        <p>
            We volgen de overheidsregels wat betreft Corona. We zullen ons daarom ook aanpassen aan de actuele
            maatregelen.
        </p>

        <p>
            Er mag geen publiek aanwezig zijn tijdens het beachvolleyballen. Sommige teams zijn ingeschreven met 3
            spelers terwijl de wedstrijden 2 vs. 2 gespeeld worden. Het is dan wel toegestaan dat de 3e speler/wissel
            zich langs de zijlijn mag bevinden. Het is niet toegestaan om na je eigen wedstrijd te blijven kijken naar
            de volgende wedstrijd. Het is dan dus ook de bedoeling om na je wedstrijd gelijk te vertrekken. Er is een
            leeftijdsgrens van &lt; 27 jaar om in groepen >2 personen buiten te mogen sporten. Bij sporters &gt;27 jaar
            is dit nog niet toegestaan en zullen voorlopig dan ook niet meedoen. Er mogen geen wedstrijden tegen andere
            verenigingen worden gespeeld dus alleen SKC-leden worden toegelaten. Blijf thuis bij klachten en laat je
            testen!!!
        </p>
    </div>
    <mat-divider></mat-divider>
    <div>
        <p>SKC Leiden organizes a beach competition. This is going to be different from previous years.</p>

        <p>
            There are several competitions; the women's competition, the men's competition & the mixed competition. We
            create different poules per competition; group A, B, C, etc. At the start of the competition you will be
            divided into a poule based on your volleyball level in the sports hall + beach volleyball experience.
        </p>

        <p>
            This is your starting point for the beach competition.
        </p>

        <p>
            The matches are scheduled on Friday evening and Saturday. You play against your opponents from the same
            poule. Do you win all matches? Then you promote to a higher group. The next week you'll be classified in
            that higher group. Has your team lost the most matches? Then you degrate to a lower group. This way everyone
            plays at his or her level and there is room to grow, so that you can all show the best volleyball skills! :)
        </p>

        <p>
            Because you play against your entire group on an evening / during a morning, so multiple teams, it is the
            intention that you play 1 set against each team up to 21 points. The beach volleyball rules are used with
            changing sides of the field every 7 points, etc. 
        </p>

        <p>
            The players themselves are responsible for communicating the final results of the games played. This must be
            done before 11:59 pm on Sunday evening.
        </p>

        <p>
            The new groups + match formats will be published on Monday for the upcoming week.
        </p>

        <p>
            Are you not able to attend a match? Mail to skc.beach@gmail.com or send an Whatsapp text to one of the
            BeachCie members. It is possible to make up for missed matches at another time in the same week. The program
            of the week will be released at Monday so if you know you can't make it to your game then you can schedule a
            match yourself somewhere in that week. The results of the match need to be send to the Beachcie before
            Sunday 23:59 that weekend. Pay attention! You are responsible for scheduling the 'make-up game', reserving
            the field and arranging the opponent. If this is not possible, your matches will unfortunately be considered
            lost. Fortunately, you can prove yourself the following week by winning the games.
        </p>

        <p>
            Are you not able to attend because you have possible corona complaints? We absolutely do not want to
            encourage people to come to the matches with any complaints. Mail to skc.beach@gmail.com or send an
            Whatsapp-text to one of the BeachCie members and we will ensure that you are placed in the same pool next
            time.
        </p>

        <h3>Corona</h3>
        <p>
            There should be no public present during beachvolleyball. Some teams are registered with 3 players while the
            games are played 2 vs. 2. Then it's allowed that the 3rd player/subtitute may be on the sidelines. It is not
            allowed to continue watching the next game after your own game. The intention is therefore to leave
            immediately after your own game.
        </p>
        <p>
            There is an age limit of &lt;27 years to be allowed to exercise outside in groups>2 people. This is not yet
            allowed for athletes &gt;27 years of age and will therefore not participate for the time being.
        </p>
        <p>
            No matches may be played against other associations, so only SKC members are allowed.
        </p>
        <p>
            Stay at home with complaints and get tested!!!
        </p>
    </div>


     





     







     


</div>