<div class="algemene-informatie">
    <mat-card class="card">
        <h3>Beste deelnemers</h3>

        <div>Het is een eer jullie te mogen verwelkomen bij de beachcompetitie 2021! In deze mail vinden jullie alle
            informatie omtrent de competitie, het rooster en overige belangrijke zaken. Lees dit dus zorgvuldig door,
            zodat
            je 100% voorbereid bent komende week. Mocht je na het lezen hiervan nog vragen hebben, stuur ons even een
            mailtje (skc.beach@gmail.com) of appje (zie almanak voor onze nummers xxx). </div>

        <h3>Locaties</h3>
        <div>

            De wedstrijden worden gespeeld op het USC op vrijdagavonden en zaterdagen overdag. Als de overheidsregels
            veranderen
            en we weer met andere verenigingen wedstrijden mogen spelen, zullen de wedstrijden ook plaatsvinden bij de
            beachvelden van Leython Beach (Bloemerd 5, 2353 BZ Leiderdorp). Informatie hierover mailen we jullie tegen
            die
            tijd.
        </div>

        <h3>Hoe ziet de competitie eruit?</h3>
        <div>

            Dit jaar is de beachcompetitie zoals gezegd een beetje anders dan andere jaren. Er zijn drie categorieën: de
            vrouwencompetitie, de mannencompetitie en de gemixte competitie. Elk van deze categorieën zal bestaan uit
            verschillende poules. Elke week speel je één set tegen elk team uit je poule. Dit betekent dat je op een
            wedstrijddag drie wedstrijden van één set achter elkaar speelt. Verdeeld over twee velden zal dit ongeveer
            één
            uur
            duren. </div>

        <div>Wedstrijden zullen in twee-tegen-twee vorm gespeeld worden, tenzij op basis van niveau en met toestemming
            van
            de tegenstanders een drie-tegen-drie vorm gewenst is. Bespreek dit dus ook van tevoren met je tegenstanders,
            zodat
            niemand voor teleurstellingen komt te staan. Hoewel de teams bij inschrijving uit maximaal vier mensen mogen
            bestaan, mogen steeds maximaal drie bij de wedstrijd aanwezig zijn (dit hoeven niet elke week dezelfde drie
            te
            zijn). Invallers buiten je team vanwege blessures, een keer niet kunnen of andere gezondheidsredenen zijn
            toegestaan. Laat dit van tevoren wel even aan ons weten en bespreek dit ook met je teamgenoten en
            tegenstanders.
        </div>

        <div>Gebaseerd op de wedstrijdresultaten zal het team dat bovenaan eindigt een poule stijgen en het team dat
            onderaan
            eindigt een poule zakken. De tweede en derde plek zullen in dezelfde poule blijven. Hiermee zal iedereen
            uiteindelijk op ongeveer zijn of haar eigen beachvolleybal niveau terechtkomen, wat voor de allerspannendste
            wedstrijden gaat zorgen! De competitie zal starten op 14 en 15 mei. Iedere week zal op maandag het
            wedstrijdschema voor die week bekendgemaakt worden. Daarnaast zijn we bezig met het bouwen van een website,
            dus
            hopelijk zal alle informatie ook daar binnenkort op te zien zijn!</div>

        <h3>Afmelden en wedstrijden verzetten</h3>
        <div>

            Wanneer je al weet dat je team het een keer niet redt om aanwezig te zijn op de wedstrijddag, laat dit dan
            tijdig
            aan ons weten via email (skc.beach@gmail.com). Aan het niet aanwezig zijn op je wedstrijddag zitten helaas
            wel
            consequenties verbonden: Je zult dan mogelijk een poule gaan zakken, daar de rest van de teams wel speelt en
            punten
            ontvangt. Uiteraard willen we de competitie zo veilig mogelijk houden, dus als je team een keer niet mee kan
            doen
            vanwege gezondheidsredenen (waaronder coronagerelateerde problemen), zal je team in dezelfde poule blijven
            en
            zullen
            we hier dus geen consequenties aan verbinden. </div>

        <div>Er is een mogelijkheid voor teams om zelf hun poulewedstrijden te verzetten (via het USC kun je zelf een
            veld
            reserveren), maar hier zitten wel strenge voorwaarden aan vast:
            Waar mogelijk spelen de teams die wel op de wedstrijddag kunnen, gewoon hun wedstrijden op dat moment
            Het team dat op de wedstrijddag zelf niet kan, zorgt ervoor dat alle wedstrijden tegen de andere teams in de
            poule gespeeld zijn voor zondagavond. Lukt dit niet, dan betekent dat automatisch verlies van de ongespeelde
            sets.
            Poules mogen bij uitzondering, met toestemming van alle teams in de poule, op een ander moment gespeeld
            worden
            dan toegewezen aan het begin van de week. Dit dient tijdig aangegeven te worden aan de BeachCie (vanwege
            beschikbaarheid van de velden) en de poule dient alsnog volledig gespeeld te zijn voor zondagavond. </div>

        <h3>De wedstrijddag</h3>
        <div>

            Zoals eerder genoemd, zul je op vrijdag of zaterdag spelen. Aan het begin van de week wordt het schema
            bekend
            gemaakt, weet je in welke poule je zit en dus welke tijd je speelt. Vanwege de beperkte tijd die we voor de
            wedstrijden hebben, zul je je warming up moeten doen vóór je wedstrijden beginnen (hardlopen of heel hard
            fietsen
            naar je wedstrijd schijnt te helpen). Heb je je wedstrijd om 18.00u, dan zul je dus voor die tijd moeten
            opwarmen
            zodat de wedstrijd om 18.00u kan beginnen. Dit is erg belangrijk: Door corona zitten we streng gebonden aan
            de
            speeltijden. Dit betekent dat je pas het veld op mag als jouw tijd aanvangt en de vorige poule het veld
            verlaten
            is,
            en je ook de velden moet verlaten op de eindtijd van jouw poule. Is jullie wedstrijd nog niet klaar maar
            jullie
            tijd
            wel verstreken? Verlaat dan alsnog het veld en bespreek met elkaar of jullie de wedstrijd wellicht zondag
            nog
            kunnen
            inhalen, of het bij de behaalde score willen houden. We begrijpen dat dit vervelend is, maar helaas kunnen
            we
            jullie
            op dit moment niet meer tijd en vrijheid bieden.</div>

        <div>Voor de wedstrijden mogen gewoon de beachvolleyballen van SKC gebruikt worden: die kun je halen bij de
            veldkantine. De teams zijn zelf verantwoordelijk voor het bijhouden van de scores. Zorg dat je hierin
            eerlijk en
            respectvol omgaat met elkaar en de beachvolleybalregels. Wij hanteren de beachvolleybalregels zoals ze door
            de
            Nevobo¹ gesteld zijn. Om een leuke, uitdagende competitie voor iedereen mogelijk te maken mag echter in
            overleg
            met de tegenstanders van bepaalde regels afgeweken worden (bijvoorbeeld wat betreft het draaien van een
            bovenhandse bal). Zodra de wedstrijden zijn afgelopen, stuur je de uitslagen van je eigen team op via het
            <a href="https://docs.google.com/forms/d/1GBcV0K3LCw_OlndWq7rquhToX1FDEs_Th5pGwFKoW84/edit">Google Form</a>.
            We
            hopen dit uiteindelijk via de website te kunnen doen zodra deze af is. Doe dit het liefst meteen (want
            onthouden
            is moeilijk) maar anders uiterlijk zondagavond, zodat wij z.s.m. het rooster voor de volgende week kunnen
            samenstellen en rondsturen.
        </div>

        <div>Heb je nog niet zoveel ervaring in beachvolleybal of is je hoofd gewoon een vergiet? Hier wat handige tips
            over
            wat je mee moet nemen/waar je aan moet denken voor je wedstrijd:
            Is het koud? → Trek voldoende warme kleding aan, denk aan bijvoorbeeld een thermo en een vest, lange
            sportbroek
            en beachsokken/wollen sokken (de laatsten houden je voeten ook redelijk warm).
            Gaat het regenen? → Stap 1 is natuurlijk het weer checken, altijd handig om te weten of het nog gaat
            regenen. Zo
            ja, kleed je ook dan warm aan. Als je dat hebt kun je een dun regenjasje of regenbestendig sportjasje
            aandoen.
            Schijnt de zon? → Smeer je in! We kennen inmiddels allemaal de gevaren van verbranden, dus zorg dat je je
            van
            tevoren goed insmeert en ook een flesje zonnebrand meeneemt voor tussentijds insmeren.
            Andere benodigdheden: bidon, zonnebril/petje, slippers, handdoek om je voeten af te vegen,
            horloge/klok/radiowekker/wees creatief voor het bijhouden van de speeltijden.</div>

        <h3>Coronaregels en veranderingen</h3>
        <div>

            Vanwege de huidige coronaregels zijn er wat beperkingen aan het organiseren van deze competitie. Op dit
            moment
            zijn
            er een aantal beperkingen die hieronder worden besproken; zodra deze veranderen zullen we jullie uiteraard
            op de
            hoogte stellen.
            Spelers die 27 jaar of ouder zijn mogen helaas nog geen competitie spelen, ook niet binnen de eigen
            vereniging.
            Zij
            mochten zich bij ons wel al inschrijven voor de competitie, maar zullen pas toegelaten worden als de
            overheid
            dit
            toestaat.
            Per team mogen er maximaal drie mensen per wedstrijdmoment aanwezig zijn bij de beachvelden. Het USC staat
            maximaal
            één persoon per team toe als wisselspeler naast het veld.
            Helaas is het nog niet toegestaan voor of na je eigen wedstrijden te blijven kijken bij de andere teams.
            Zodra
            je al
            je wedstrijden hebt gespeeld zul je dus de beachvelden moeten verlaten. Als je in twee teams (bijv. mannen
            en
            gemixt) speelt en wacht op je volgende wedstrijdronde zul je ook tussendoor de velden moeten verlaten.
            Op dit moment mogen competities alleen nog binnen de eigen vereniging plaatsvinden, waardoor onze
            samenwerking
            met
            Leython Beach nog even op pauze staat. Zodra dit weer toegestaan is zullen we de teams van Leython Beach
            toevoegen
            aan onze competitie.
            De coronaregels die Leython Beach hanteert zullen ook met jullie gedeeld worden zodra samenwerking met hen
            mogelijk
            is.
            De BeachCie werkt er hard aan jullie zo snel mogelijk te informeren bij veranderingen. Houd daarom je mail
            (en
            social media) goed in de gaten om op de hoogte te blijven van de laatste aanpassingen!</div>
        <h3>Foto's </h3>
        <div>

            Omdat de beachcompetitie uiteraard onwijs spannend en leuk gaat worden, zal af en toe ook de PaparazCie
            aanwezig
            zijn om foto’s te maken. Heb je zelf nog leuke foto’s gemaakt? Leuk! Mail ze vooral naar ons, zodat wij wat
            sfeerimpressies kunnen delen op onze Instagram (@skc.beachcie). </div>

        <h3>BBQ </h3>
        <div>
            Op dit moment is het nog onduidelijk of we dit jaar een BBQ kunnen organiseren. We hopen dit eind juli/begin
            augustus nog te kunnen doen, maar kunnen hier uiteraard nog geen beloftes over doen. We houden jullie op de
            hoogte!
        </div>


        <div>Bedankt voor het doorlezen van het hele document! Mocht je onze eeuwige waardering willen, stuur dan even
            de
            oplossing van dit raadsel naar Maaike: Wat is groen en skiet van de helling? </div>


        <div>Tot op het zand!</div>

        <div>Lots of kisses,</div>

        <div>Maaike Smekens, Mo Mohamed, Irene Korbijn, Jade Hajer, Renske Slaghekke and Koen van Beek</div>
        <div>BeachCie '21, (ex)SKC on the beach</div>
    </mat-card>
</div>