<h1 mat-dialog-title>Uitslag invoeren</h1>
<div [formGroup]="form" class="form" *ngIf="form">
    <div class="stand-invoeren">
        <button mat-mini-fab color="primary" (click)="changePoints(wedstrijd.team1.id, -1)">
            <mat-icon>remove</mat-icon>
        </button>
        <div class="teamnaam">{{wedstrijd.team1.naam}}</div>
        <button mat-mini-fab color="primary" (click)="changePoints(wedstrijd.team1.id, 1)">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div>
        <div style="text-align: center;">
            {{wedstrijd.puntenTeam1}}
        </div>
        <div style="text-align: center;">
            -
        </div>
        <div style="text-align: center;">
            {{wedstrijd.puntenTeam2}}
        </div>
    </div>
    <div class="stand-invoeren">
        <button mat-mini-fab color="primary" (click)="changePoints(wedstrijd.team2.id, -1)">
            <mat-icon>remove</mat-icon>
        </button>
        <div class="teamnaam">{{wedstrijd.team2.naam}}</div>
        <button mat-mini-fab color="primary" (click)="changePoints(wedstrijd.team2.id, 1)">
            <mat-icon>add</mat-icon>
        </button>
    </div>



    <mat-dialog-actions align="end">
        <button mat-raised-button [mat-dialog-close]="">
            <mat-icon>close</mat-icon> Cancel
        </button>

        <button mat-raised-button color="primary" [disabled]="!isValidScore()" (click)="save(wedstrijd)">
            <mat-icon>save</mat-icon> Save
        </button>
    </mat-dialog-actions>

</div>