.wedstrijden {
  max-width: 500px;
  width: 100%;
  margin-top: 10px;
}

.card {
  margin: 10px;
}
.mat-cell {
  padding: 10px 10px 10px 0;
}

.teams {
  div {
    padding: 0px 10px;
  }
  display: flex;
}
.mat-column-uitslag {
  white-space: nowrap;
}
