.teams {
  padding: 10px;
  max-width: 600px;
  width: 100%;
}

.management {
  margin: 20px;
}

.geen-teams {
  padding: 20px;
}

.team-toevoegen {
  padding: 10px;
}

.mat-cell {
  padding: 10px 10px 10px 0;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  button {
    width: 140px;
    margin: 10px;
  }
}

.poules {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.add-team {
  margin: 0px 30px 0px 30px;
  mat-form-field {
    width: 100%;
  }
}

.bovenin {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 20px;

  div {
    margin-left: 50px;
    padding: 15px;
  }
}
