.toggles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  div {
    padding: 10px;
  }
}

.klassement {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mat-cell {
  padding: 10px 10px 10px 0;
}

.speelronde-punten {
  width: 20px;
  margin: 10px;
}
.punten {
  margin-right: 5px;
}
