<div style="padding: 20px;" *ngIf="speelrondes.length === 0">
    Nog geen speelrondes
</div>

<div *ngIf="speelrondes.length > 0">

    <div class=" toggles" [formGroup]="form">
        <div>
            <mat-button-toggle-group formControlName="speelronde">
                <mat-button-toggle *ngFor="let speelronde of speelrondes" [value]="speelronde.nummer">
                    {{speelronde.nummer}}
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>

    <div class="speelrondes">
        <app-poule (onChange)="getSpeelrondes()" *ngFor="let poule of speelrondes[currentSpeelronde].poules"
            [poule]="poule">
        </app-poule>
    </div>

</div>