.container {
  height: 100vh;
}

.header-bar {
  display: flex;
  align-items: center;
}

body {
  background-image: url('~/src/assets/background3.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-position-y: 0px;
  background-repeat: initial;
}

.mat-drawer-container {
  background-color: #00000000;
}

.mat-toolbar.mat-primary {
  background-color: #00000000;
}
