version: "3.7"

services:

  mariadb:
    image: mariadb:10.4.24
    ports:
      - 3306:3306
    restart: always
    volumes:
      - mariadb-data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: volleybal

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:5.1.3
    ports:
      - 8888:80
    restart: always
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOST=mariadb
      - UPLOAD_LIMIT=300M
    depends_on:
      - mariadb

volumes:
  mariadb-data: