.card {
  margin: 20px;
  max-width: 500px;
  min-width: 300px;
}

.poule {
  display: flex;
  justify-content: center;
}

.heren {
  background-color: #004dc18f;
}

.poule-naam,
.datum {
  color: white;
}

.dames {
  background-color: #d0000096;
}

.mix {
  background-color: #286128a3;
}

.delete-button {
  position: absolute;
  right: 20px;
}

.team > div.mat-list-item-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.datum {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mat-card-header-text {
  width: 100%;
}

.mat-form-field {
  width: 200px;
}

.save-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
