.card {
  margin: 20px;
  max-width: 500px;
  min-width: 300px;
}

.heren {
  background-color: #3f51b55e;
}

.dames {
  background-color: #a9cc93a3;
}

.mix {
  background-color: #f4433636;
}

.delete-button {
  position: absolute;
  right: 20px;
}

.team > div.mat-list-item-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
